*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!units.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!fastqc_parallel.sh
!fastq_screen.conf
!fastq_screen_conf.tsv
!wrappers
!wrappers/*
!wrappers/fastq_screen/*
wrappers/fastq_screen/wrapper.py~
wrappers/fastq_screen/environment.yaml~
envs/qc.yaml~
report/workflow.rst~
rules/common.smk~
rules/common.smk~~
rules/qc.smk~
rules/qc.smk~~
scripts/common.py~
